@model OnyxPlataform.Models.Store
<div class=" card col-md-4 offset-md-4 p-0 mt-2">
    <h3 class="card-header">
        Creando Tu tienda Personal
    </h3>
    <div class="card-body">
        <form asp-controller="StoreController" asp-action="Create" method="POST">
            <input asp-for="@Model.StoreId" value="@Model.StoreId">
            <input asp-for="@Model.UserDataId" value="@Model.UserDataId">
            <div class="form-group">
                <label for="">Nombre de La tienda</label>
                <input  class="form-control" asp-for="@Model.StoreName" id="">
            </div>
            <div class="form-group">
                <label for="">Agrega una descripcion de tu Tienda</label>
                <input  class="form-control" asp-for="@Model.StoreDescription" id="">
            </div>
            <div class="form-group">
                <label for="">Agrega un lema a tu tienda!</label>
                <input  class="form-control" asp-for="@Model.StoreMotto" id="">
            </div>
            <div class="form-group">
                <label for="">Tienes un Local? Agrega tu Direccion para que mas personas puedan visitarte!</label>
                <input  class="form-control" asp-for="@Model.StoreDescription" id="">
            </div>
              <div class="form-group">
                <label for="">Agrega una foto de tu tienda o Logo!</label>
                <input  class="form-control"  id="">
            </div>
              <div class="form-group">
                <label for="">Pon aqui tu Banner Publicitario!</label>
                <input  class="form-control"  id="">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>