@model Onyxplataform.Models.Catalogue
<div class=" card col-md-4 offset-md-4 p-0 mt-2">
    <h3 class="card-header">
        Creando Tus Productos
    </h3>
    <div class="card-body">
        <form asp-controller="Catalogue" asp-action="Create" method="POST">
            <input type="hidden" asp-for="@Model.CatalogueId" value="@Model.Catalogue.Id">
            <input  type="hidden" asp-for="@Model.StoreId" value="@Model.StoreId">
            <div class="form-group">
                <label for="">Escribe el Nombre de tu Producto</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductName" id="">
            </div>
                <div class="form-group">
                <label for="">Modelo? dejalo vacio si tu prodcuto no cuenta con uno</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductModel" id="">
            </div>
                <div class="form-group">
                <label for="">Describe tu producto</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductDescription" id="">
            </div>
                <div class="form-group">
                <label for="">Tipo de Producto</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductType" id="">
            </div>
                <div class="form-group">
                <label for="">¿Alguien ha fabricado el producto? especificalo</label>
                <input  class="form-control" asp-for="@Model.CatalogueBuilder" id="">
            </div>
            <div class="form-group">
                <label for="">Agrega Una Imagen de tu producto</label>
                <input type="file">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>