@model OnyxPlataform.Models.Catalogue
<div class=" card col-md-4 offset-md-4 p-0 mt-2">
    <h3 class="card-header">
        Creando Tus Productos
    </h3>
    <div class="card-body">
        <form asp-controller="Catalogue" asp-action="Create" method="POST">
            <input type="hidden" asp-for="@Model.CatalogueID" value="@Model.CatalogueID">
            <input  type="hidden" asp-for="@Model.StoreId" value="@Model.StoreId">
            <div class="form-group">
                <label for="">Escribe el Nombre de tu Producto</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductName" id="" value="@Model.CatalogueProductName">
            </div>
                <div class="form-group">
                <label for="">Modelo</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductModel" id="" value="@Model.CatalogueProductModel">
            </div>
                <div class="form-group">
                <label for="">Descripcion</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductDescription" id="" value="@Model.CatalogueProductDescription">
            </div>
                <div class="form-group">
                <label for="">Tipo de Producto</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductType" id="" value="@Model.CatalogueProductType">
            </div>
                <div class="form-group">
                <label for="">Fabricante</label>
                <input  class="form-control" asp-for="@Model.CatalogueProductBuilder" id="" value="@Model.CatalogueProductBuilder">
            </div>
            <div class="form-group">
                <label for="">Imagen de tu producto</label>
                <input type="file">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>